<div>
  <div class="contentWrapper">
    <app-card>
      <div class="content">
        <h3>Upload Balance File</h3>
        <form>
          <input #fileInput type="file" (change)="onFileSelected($event)" />
          <button
            (click)="onUpload()"
            type="submit"
            [disabled]="isUploadButtonDisabled"
          >
            Upload
          </button>
        </form>
        <div *ngIf="availableBalanceDates.length > 0" class="availableBalanceContainer">
          <h5>Available Balances</h5>
          <ul>
            <li *ngFor="let date of availableBalanceDates">
              <a routerLink="/balances" [queryParams]="{ date: date }">
                {{ date | date }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </app-card>
  </div>
</div>

<app-loader *ngIf="showLoading" />
