<div>
  <div class="contentWrapper">
    <app-card>
      <div class="content">
        <h3>Upload Balance File</h3>
        <form>
          <input #fileInput type="file" (change)="onFileSelected($event)" />
          <button
            (click)="onUpload()"
            type="submit"
            [disabled]="isUploadButtonDisabled"
          >
            Upload
          </button>
        </form>
        <div class="availableBalanceContainer">
          <h4>Available Balances</h4>
          <p *ngIf="availableBalanceDates == null">Loading...</p>
          <p *ngIf="availableBalanceDates != null && availableBalanceDates.length <= 0">No balances found</p>
          <ul *ngIf="availableBalanceDates != null && availableBalanceDates.length > 0">
            <li *ngFor="let date of availableBalanceDates">
              <a routerLink="/balances" [queryParams]="{ date: date }">
                {{ date | date }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </app-card>
  </div>
</div>

<app-loader *ngIf="showLoading" />
