table{
    width: 100%;
    margin-top: 10px;
}

table, th, td{
    border-collapse: collapse;
    border: 2px solid #e8e8e8;
    color: dimgray;

}

th{
    font-size: small;
}

td{
    font-size: smaller;
}

.title{
    display: flex;
    align-items: baseline;
    gap: 5px;
}

h1, h5{
    padding: 0px;
    margin: 0px;
}

h5{
    font-style:italic;
}

.noBalances{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    color: darkgray;
}